h5{
  font-size: 16px;
  color: aqua;
  font-style: italic;
}
h1{
  color: aqua;
}
.hobbies{
  float: left;
  border: 9px;
  border-top: solid magenta;
  border-bottom: solid magenta;
  border-left: solid magenta;
  border-right: solid magenta;
}
.img{
  float: right;
}
