h5{
  font-size: 16px;
  color: aqua;
  font-style: italic;
}
h1{
  color: crimson;
}
.hobbies{
  float: center;
  border: 9px;
  border-top: solid magenta;
  border-bottom: solid magenta;
  border-left: solid magenta;
  border-right: solid magenta;
  color: black;
}
.img{
  float: right;
}

.weblink{
  color: black;
}
.studies{
  color: black;
}
.jobs{
  color: black;
}
.backg{
  color: black;
}
